 @charset "UTF-8";
 
        /* 테이블을 가운데 정렬하는 CSS 스타일 */
        .center-table {
            margin: 0 auto; /* 좌우 여백을 자동으로 조절하여 가운데 정렬 */
            text-align: center;
        }
        
        /* 모달 스타일 */
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.4);
        }

        .modal-content {
            background-color: #fff;
            margin: 15% auto;
            padding: 20px;
            width: 50%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            text-align: center;
        }
   