
        @charset "UTF-8";
        @import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500);

        /* main Styles */

        html {
            box-sizing: border-box;
        }

        *,
        *:before,
        *:after {
            box-sizing: inherit;
        }

        body {
            background: #fafafa;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            margin: 0;
        }

        a {
            text-decoration: none;
        }

        .container {
            max-width: 1000px;
            margin: auto;
            padding: center;
        }

        .img1 {
            position: absolute;
            width: 160px;
            height: 49px;
        }

        h1 {
            text-align: center;
            margin-top: 150px;
        }

        /* Navigation Styles */

        #ul1 {
            text-align: center;
        }

        ul1 li {
            display: inline-block;
            /* 변경 */
        }

        nav {
            background: #2ba0db;
        }

        nav ul {
            font-size: 0;
            margin-left: 200;
            /* 변경 */
            padding: 0;
        }

        nav ul li {
            display: inline-block;
            position: relative;
            /* 변경 */
        }

        nav ul li a {
            color: #fff;
            display: block;
            font-size: 14px;
            padding: 15px 14px;
            transition: 0.3s linear;
        }

        nav ul li:hover {
            background: #126d9b;
        }

        nav ul li ul {
            border-bottom: 5px solid #2ba0db;
            display: none;
            position: absolute;
            width: 250px;
        }

        nav ul li ul li {
            border-top: 1px solid #444;
            display: block;
        }

        nav ul li ul li:first-child {
            border-top: none;
        }

        nav ul li ul li a {
            background: #373737;
            display: block;
            padding: 10px 14px;
        }

        nav ul li ul li a:hover {
            background: #126d9b;
        }

        nav .fa.fa-angle-down {
            margin-left: 6px;
        }
        
        .loginname {
        position: absolute;
        top: 0px;
        right: 80px;
    }
    
    
    #login_img {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 10px;
        right: 20px;
    }
    
    #link {
    	width: 13px;
    	height: 13px;
    	margin-left: 5px;
    }

        /* 반응형 스타일 추가 */
        @media (max-width: 768px) {
            .container {
                padding: 0 10px;
            }

            h1 {
                margin-top: 20px;
            }

            .img1 {
                width: 120px;
                height: 37px;
            }

            nav ul {
                margin-left: 0;
                text-align: center;
                /* 변경 */
            }

            nav ul li {
                display: inline-block;
                margin: 0 10px;
            }
        }
   