
        @charset "UTF-8";

        @import url(style.css);
        @import url(media.css);
        @import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500);

        /* main Styles */

        html {
            box-sizing: border-box;
        }

        *,
        *:before,
        *:after {
            box-sizing: inherit;
        }

        body {
            background: #fafafa;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            margin: 0;
        }

        .noticelook {
            display: inline-block;
            margin-left: 20px;
            height: 60px;
        }

        .allpost {
            display: inline-block;
            font-size: 20px;
            font-weight: bold;
            margin-top: 15px;
        }

        a {
            text-decoration: none;
        }

        .container {
            width: 1000px;
            margin: auto;
            position: center;
        }

        .img1 {
            width: 160px;
            height: 49px;
            position: absolute;
        }

        h1 {
            text-align: center;
            margin-top: 150px;
        }

        /* Navigation Styles */

        #ul1 {
            text-align: center;
        }

        ul1 li {
            display: inline-block;
        }

        .asdf {
            border: 2px solid black;
            margin: auto;
            margin-top: 30px;
            width: 1200px;
            height: 600px;
        }

        .inside1 {
            border: 1px solid black;
            width: 200px;
            height: 550px;
            float: left;
            margin: 30px;
        }

        .notice_write {
            border: 2px solid black;
        }

        .ul2 {
            display: block;
            list-style-type: disc;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 20px;
        }

        .inside2 {
            border: 1px solid black;
            margin: 10px;
            width: 500px;
            height: 500px;
        }

        .inside1 ul li {
            list-style-type: none;
        }

        .inside1 ul li a {
            text-decoration-line: none;
        }

        .boardimg {
            width: 10px;
            height: 11px;
            margin-right: 5px;
        }


        .inside_under {
            position: relative;
            margin-top: 240px;

            height: 50px;
            border-top: 1px solid black;
        }

        .noticepart {
            border: 1px solid red;
            margin-left: 300px;
            margin-top: 30px;
            height: 550px;
            width: 850px;
        }

        .ckbox {
            margin-left: 170px;
            margin-top: 20px;
            display: inline-block;
        }

        .ckbox p {
            display: inline-block;
            margin-right: 15px;
            margin-left: 3px;
        }

        .boardwrite {

            margin: 20px;
            width: 800px;
            height: 300px;
        }

        .checkbox12 {
            margin-left: 30px;
            display: inline-block;
        }

        .checkbox1 {
            width: 30px;
            height: 30px;
            display: inline-block;
        }

        .writetable {
            width: 100%;
            height: 300px;
            border: 1px black solid;
        }

        .noticealert {
            position: relative;
            display: inline-block;
            text-align: center;
            font-size: 20px;
            top: -7px;
            padding-left: 15px;
        }

        .noticepart {
            border: 1px solid red;
            margin-left: 300px;
            margin-top: 30px;
            height: 550px;
            width: 850px;
        }

        .btn_group1 {
            margin-top: 25px;
            float: right;
            margin-right: 40px;
        }

        .save_btn {
            width: 50px;
            height: 30px;
        }

        .can_btn {
            margin-left: 20px;
            width: 50px;
            height: 30px;
        }

        #noticeboardcontrol li {
            display: inline-block;
            text-align: center;
            padding: 5px;
            margin-left: 10px;
        }

        #noticeboardcontrol {

            display: inline-block;
            list-style-type: disc;

            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 0px;
            margin-left: 10px;
            margin-bottom: 30px;
        }


        .list_btn {
            width: 60px;
            height: 30px;
        }

        .noticelook {
            display: inline-block;
            margin-left: 20px;
        }

        .morelook {
            display: inline-block;
            margin-left: 700px;
        }

        .big_notice span {
            display: inline-block;
        }

        .big_notice span p {
            margin-left: 70px;
        }

        .notice_start {
            display: inline-block;
            margin-left: 40px;
        }

        .sc1 span p {
            margin-left: 70px;
        }

        .sc1 span {
            display: inline-block;
        }

        .notice_pic {
            display: inline-block;
            margin-left: 50px;
            border: 2px solid red;
            background-color: red;
            width: 50px;
            height: 20px;
            text-align: center;
        }

        .hr1 {
            margin: 2px;
        }

        .notify {
            width: 300px;
        }

        #cb {
            margin-right: 80px;
        }

        .sc1 ul {
            list-style-type: none;
        }

        .sc1 span p {
            margin-left: 70px;
        }

        .btn_group {
            float: right;
            margin-top: 30px;
        }

        .add_btn {
            margin-right: 15px;
            width: 50px;
            height: 30px;
        }

        .delete_btn {
            margin-right: 15px;
            width: 50px;
            height: 30px;
        }

        .ul2 li {
            font-size: 18px;
            margin-top: 10px;
        }

        .ul2 li img {
            width: 17px;
            height: 17px;
        }

        #txt2 {
            width: 300px;
            height: 300px;
        }

        .gradecheck input[type="checkbox"] {
            display: inline-block;
            font-size: 14px; /* 폰트 크기 설정 */
            /* 다른 스타일을 추가할 수 있습니다. */
        }

        .gradecheck p {
            display: inline-block;
            margin-right: 20px;
            margin-left: 5px;
            font-size: 14px; /* 폰트 크기 설정 */
            /* 다른 스타일을 추가할 수 있습니다. */
        }

        .ul3 {
            display: none;
        }

        /* ul3를 보여주는 스타일 */
        .ul3.show {
            display: block;
            animation: slide-down 0.5s ease;
        }

        @keyframes slide-down {
            0% {
                opacity: 0;
                transform: translateY(-10px);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }
